
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--font-sans);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    min-height: 100vh;
  }
}


@layer components {
  button {
    border-radius: 0.5rem; 
    border: 1px solid transparent;
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    font-weight: 500; 
    font-family: inherit;
    cursor: pointer;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
  }

  button:hover {
    border-color: #3b82f6; 
  }

  button:focus,
  button:focus-visible {
    outline: none;

    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.15);
  }
}
